@using ACGMapping.InfraStructure.ENum
@model ACGMapping.Models.AnimeViewModel
<style type="text/css">
    .btnCreate {
        margin-top: 10px;
    }
</style>
@{
    ViewBag.Title = "SupplyInfo";
    Layout = "_Layout";
}

<script type="text/javascript">
    var Anime = {
        name : ""
    };

    function IsExistSameName() {
        Anime.name = $("#Name").val();

        var res = AjaxSearch(Anime, '@Url.Action("IsExistSameComicName","Anime")');

        if (res!=="@EStatus.Success.ToString()") {
            alert('已存在相同的漫畫名稱');
            return false;
        }

        return true;
    }
</script>

@using (Html.BeginForm("Create", "Anime", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<div class="col-lg-4">
                    @Html.DisplayNameFor(o => o.ExistNames)
                    @Html.DropDownListFor(o => "TmpName", Model.Names, new { @class = "form-control", onclick = "ChangeInfo" })
                </div>*@
                <div class="col-lg-4">
                    @Html.DisplayNameFor(o => o.Name)
                    @Html.TextBoxFor(o => o.Name, "", new { @class = "form-control" })
                </div>
                @*<div class="col-lg-4">
                        @Html.DisplayNameFor(o => o.PublicTime)
                        @Html.TextBoxFor(o => o.PublicTime, "", new { @class = "form-control" })
                    </div>*@
                @*<div class="col-lg-4">
                        @Html.DisplayNameFor(o => o.ComicEpisode)
                        @Html.TextBoxFor(o => o.ComicEpisode, "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.DisplayNameFor(o => o.AnimeSeason)
                        @Html.TextBoxFor(o => o.AnimeSeason, "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.DisplayNameFor(o => o.AnimeEpisode)
                        @Html.TextBoxFor(o => o.AnimeEpisode, "", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.DisplayNameFor(o => o.NovelEpisode)
                        @Html.TextBoxFor(o => o.NovelEpisode, "", new { @class = "form-control" })
                    </div>*@
                <div class="col-lg-4">
                    @Html.DisplayNameFor(o => o.Profile)
                    @Html.TextBoxFor(o => o.Profile, "", new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    @Html.DisplayNameFor(o => o.ThumbnailPath)

                    <input type="file" name="FormFile" class="form-control" multiple accept="image/*" />上傳附檔
                </div>
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-danger btnCreate" onclick="return IsExistSameName()" value="新增" />
                </div>
            </div>
        </div>
    </div>
}
